<!DOCTYPE html>
<html>
<head>
    <title>netjsongraph.js: basic example</title>
    <meta charset="utf-8">
    <link href="../static/netjsongraph.css" rel="stylesheet">
    <!-- theme can be easily customized via css -->
    <link href="../static/netjsongraph-theme.css" rel="stylesheet">
    <style>body {overflow: hidden}</style>
    <link href="static/favicon.ico" rel="bookmark" type="image/ico" />
    <link href="static/favicon.ico" rel="icon" type="image/ico" />
    <link href="static/favicon.ico" rel="shortcut icon" type="image/ico" />
</head>
<body>
    <script src="../static/d3.min.js"></script>
    <script src="../static/netjsongraph.js"></script>
    <script>d3.netJsonGraph("getjson");</script>
</body>
</html>
